# Entorno virtual
venv/
Venv/
ENV/
env/
venv.bak/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de log
*.log

# Archivos de sistema
.DS_Store

# Ignore the config file for the Bot
config.py

bot_log_*

.env